/* цвет фона темных блоков на главной и портфолио #2F303A */
/*цвет текста в body #757575 */
/*голубой цвет текста в лого Web #000000 */
/* темный цвет текста в лого Web #2196F3 */
/* цвет верхнего меню #212121; */
/* цвет контактов верхнего меню #757575; */
/* белый цвет #FFFFFF */
/*цвет фона для героя #2F303A; */
/*цвет кнопки неактивной в портфолио #F5F4FA */
/*цвет данных в футере rgba(255, 255, 255, 0.6) */

:root {
  --background-dark-grey: #2f303a;
  --grey-color: #757575;
  --blue-logo-color: #2196f3;
  --dark-logo-color: #000000;
  --white-color: #ffffff;
  --color-dark: #212121;
  --light-gray-backg: #f5f4fa;
  --footer-primary-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--grey-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
p {
  font-weight: 400;
  letter-spacing: 0.03em;
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  color: var(--blue-logo-color);
  font-family: 'Raleway', cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.dark-logo {
  color: var(--dark-logo-color);
}
.nav-menu,
.white {
  color: var(--white-color);
}

.white {
  color: var(--white-color);
}

.link {
  text-decoration: none;
  color: var(--color-dark);
}
.we-do-item,
.benefits-item,
.team-item {
  text-decoration: none;
  color: var(--color-dark);
}
.active-page {
  color: var(--blue-logo-color);
}

.list {
  list-style: none;
}
.we-do-list,
.benefits-list,
.team-list {
  list-style: none;
}
.nav-menu {
  color: var(--color-dark);
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--blue-logo-color);
}

.header-contakt {
  color: var(--grey-color);
}

.header-contakt .link:hover,
.header-contakt .link:focus {
  color: var(--blue-logo-color);
}

/*Hero*/

.hero {
  background-color: var(--background-dark-grey);
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1, 4;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-logo-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*Button*/

.select-button {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--light-gray-backg);
  color: var(--color-dark);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
}

.select-button:hover,
.select-button:focus {
  background-color: var(--blue-logo-color);
  color: var(--white-color);
}
.select-list {
}

/* Контент и заголовки */
.benefits-tytle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-dark);
}

.benefits-text {
}
.section-tytle {
  font-weight: 700;
  color: var(--color-dark);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team {
  background-color: var(--light-gray-backg);
}

.team-specialist,
.team-tytle {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-tytle {
  font-weight: 500;
  color: var(--color-dark);
}

/* портфолио контент */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  } 

.content-portfolio {
  font-size: 16px;
  line-height: 1.88;
}

.tytle-portfolio {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/*footer */

.footer {
  background-color: var(--background-dark-grey);
}

.address {
  font-style: inherit;
}
.address-link {
  color: var(--footer-primary-color);
}
.street {
  color: var(--white-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--blue-logo-color);
}
