/* цвет фона темных блоков на главной и портфолио #2F303A */
/*цвет текста в body #757575 */
/*голубой цвет текста в лого Web #000000 */
/* темный цвет текста в лого Web #2196F3 */
/* цвет верхнего меню #212121; */
/* цвет контактов верхнего меню #757575; */
/* белый цвет #FFFFFF */
/*цвет фона для героя #2F303A; */
/*цвет кнопки неактивной в портфолио #F5F4FA */
/*цвет данных в футере rgba(255, 255, 255, 0.6) */

:root {
  --background-dark-grey: #2f303a;
  --grey-color: #757575;
  --blue-logo-color: #2196f3;
  --dark-logo-color: #000000;
  --white-color: #ffffff;
  --color-dark: #212121;
  --light-gray-backg: #f5f4fa;
  --footer-primary-color: rgba(255, 255, 255, 0.6);
  --grey-edging: rgba(238, 238, 238, 1);
  --button-shadow: rgba(0, 0, 0, 0.25);
  --card-set-gap:30px;
}

body {
  color: var(--grey-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
p {
  font-weight: 400;
  letter-spacing: 0.03em;
  padding: 0;
}
ul {
  padding: 0;
}
h1,
h2,
h3 {
  padding: 0;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: 1px solid var(--grey-edging);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav {
  display: flex;
  align-items: center;

}
.main-nav .logo{
  margin-right: var(--card-set-gap);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  color: var(--blue-logo-color);
  font-family: 'Raleway', cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: flex;
}

.dark-logo {
  color: var(--dark-logo-color);
}

.white {
  color: var(--white-color);
}

.link {
  text-decoration: none;
  color: var(--color-dark);
}

.we-do-item,
.benefits-item,
.team-item {
  text-decoration: none;
  color: var(--color-dark);
}

.we-do-list .we-do-item {
  padding: 0;
  margin-right: var(--card-set-gap);
}

.active-page {
  color: var(--blue-logo-color);
}

.container .contact-list {
  margin-left: 331px;
}

.contact-list {
  display: flex;
}

.contact-list .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-menu {
  display: flex;
  color: var(--color-dark);
}

.nav-menu .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--blue-logo-color);
}

.nav-menu .nav-item {
  margin-right: 50px;
}

.nav-menu .nav-item:last-child {
  margin-right: 0;
}
.team-list .team-item:last-child {
  margin-right: 0;
}
.benefits-list .benefits-item:last-child {
  margin-right: 0;
}

.header-contact {
  color: var(--grey-color);
}

.header-contact.link:hover,
.header-contact.link:focus {
  color: var(--blue-logo-color);
}

/*Hero*/

.hero {
  background: var(--background-dark-grey);
  display: flex;
  margin-top: 0;
  flex-wrap: wrap;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  width: 100%;
}
.hero .hero-button {
  margin: 0 auto;
}

.hero-button {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-logo-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--button-shadow);
  margin-top: var(--card-set-gap);
}

.we-do-list,
.benefits-list,
.team-list {
  list-style: none;
  display: flex;
  padding: 0;
}

/*Button*/
.select-list {
  display: flex;
  justify-content:center;
}

.select-list .select-item {
  margin-right: 8px;
  }

.select-list .select-item:last-child {
  margin-right: 0;
}

.select-button {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--light-gray-backg);
  color: var(--color-dark);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border-radius: 4px;
}

.select-button:hover,
.select-button:focus {
  background-color: var(--blue-logo-color);
  color: var(--white-color);
}

.benefits,
.we-do,
.team {
  margin-top: 0;
}

.benefits-tytle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-dark);
}

.benefits-list .benefits-item {
  margin-right: var(--card-set-gap);
}
.team-list .team-item {
  margin-right: var(--card-set-gap);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-tytle {
  font-weight: 700;
  color: var(--color-dark);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list.select-list{
  margin-bottom: 50px;
}

.team {
  background-color: var(--light-gray-backg);
}

.team-specialist,
.team-tytle {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-tytle {
  font-weight: 500;
  color: var(--color-dark);
}

/* портфолио контент */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.card-text {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  
}

.card-heading {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
 
}
.card-content {
  border-top: 0;
  border-bottom: 1px solid var(--grey-edging);
  border-right: 1px solid var(--grey-edging);
  border-left: 1px solid var(--grey-edging);
  padding: 20px 24px;
}
 
.card-set{
margin: 0;
padding: 0;
list-style: none;
display: flex;
flex-wrap: wrap;
margin-left: calc(-1 * var(--card-set-gap));
margin-top: calc(-1 * var(--card-set-gap));
}

.card-set> .card-item{
flex-basis: calc(100%/3-1 * var(--card-set-gap));
margin-left: var(--card-set-gap);
margin-top: var(--card-set-gap);
}

/*footer */

.footer {
  background-color: var(--background-dark-grey);
  display: block;
}
.footer .logo {
}
.address {
  font-style: inherit;
}
.address-link {
  color: var(--footer-primary-color);
}
.street {
  color: var(--white-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--blue-logo-color);
}
